#nameInput {
    transition: all 0.5s ease-in-out; 
    grid-row-start: 2;
    margin-bottom: 0.7rem;
    display: flex;
}

.nameInput-hidden {
    opacity: 0;
    transform: translateY(20px); 
}

.nameInput-visible {
  opacity: 1;
  transform: translateY(0); 
}

#nameInput input[type="text"] {
      width: 100%;
      border: none;
      background: transparent;
      outline: none;
      font-size: 2.8rem;
      text-decoration: underline;
      color: var(--charcoal);
}

#nameInput input[type="text"]::placeholder {
      color: var(--charcoal);
      opacity: 1;
}

@media screen and (max-width: 400px) {
    #nameInput input[type="text"] {
        font-size: 2rem;
    }
}