#text-footer {
    position: absolute;
    bottom: env(safe-area-inset-bottom);
    padding-bottom: 40px;
    max-width: 850px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-left: -2rem;

    z-index: -1;
}

#footer-details {
    font-size: 1.3rem;
    line-height: 1.15rem;
    color: var(--charcoal);
    padding: 0 2rem 0 2rem;

    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    text-align: justify;
}

#jessandjasper {
    width: 100%;
    height: auto;
    fill: var(--charcoal);
    stroke: var(--charcoal);
}

@media screen and (max-width: 400px) {
   #text-footer {
    bottom: env(safe-area-inset-bottom); 
    margin-left: -1.2rem;
    font-size: 1.1rem;
    padding-bottom: 20px;
    }
}

/* @media screen and (max-width: 380px) {
    #text-footer {
        padding-bottom: 12px;
    }
} */