@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'The Youth';
  src: url('./assets/The\ Youth.woff2') format('woff2');
}

:root {
  --primary-red: rgb(225, 69, 34);
  --charcoal: #1a1a1a;
}

html {
  display: flex;
  justify-content: center;
}

body {
  min-height: -webkit-fill-available;
  position: fixed;
  background-color: var(--primary-red);
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#root {
  max-width: 850px;
  width: 100%;
  height: 100%;

  box-sizing: border-box;

  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media screen and (max-width: 400px) {
  #root {
    padding: 1rem;
  }
}

#app-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 0.5fr auto 1fr 1fr;
  grid-template-columns: 100%;
}

fieldset legend {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  text-align: left;
  text-transform: uppercase;
}

#buttons {
  width: 100%;
  min-height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#submit-button {
  font-family: 'The Youth';
  border: none;
  font-size: 2rem;
  text-transform: lowercase;
  padding: 5px;
  line-height: 1.5rem;
  background-color: unset;
  color: var(--charcoal);
  align-self: flex-end;
  }

#submit-button:hover {
  border: none;
  text-decoration: underline;
}

#submit-complete-message {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(225, 69, 34, 0.8);
  color: var(--charcoal);
  line-height: 1.8rem;
  font-family: 'barlow condensed';
  font-weight: 500;
  text-transform: uppercase;

  z-index: 3;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: opacity 0.5s ease-in-out;
}

#submission-box {
  background-color: var(--primary-red);
  padding: 3rem 4rem;
  border: 2px solid var(--charcoal);
  box-shadow: rgba(26, 26, 26, 0.5) 0px 0px 200px 0px;

  z-index: 4;
}

.submission-message-hidden {
  opacity: 1;
}

.submission-message-visible {
  opacity: 1 !important;
}

.bold {
  font-weight: 600 !important;
}

#submission-box p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.submission-large {
  font-size: 2rem;
}

.submission-mid {
  font-size: 1.3rem;
}

.submission-small {
  font-size: 1rem;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  font-weight: 300;
}

#submission-details {
  margin-top: 10px;
  line-height: 1rem;
}

@media screen and (max-width: 450px) {
  .submission-large {
    font-size: 1.5rem;
  }
  .submission-mid {
    font-size: 1.1rem;
  }
  .submission-small {
    font-size: 0.9rem; 
  }
}